#app {
  width: 100%;
}

.container {
  max-width: 940px;
}

.container-fluid {
  width: 100%;
  outline: 1px solid blue;
  height: 50px;
}

.navbar {
  background: #FFFFFF;
}

.jumbotron {
  background: #FFFFFF;
}

.row {
  padding-bottom: 120px
}

.top-space{
  margin-top: 12px;
}

.badge-pill {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.badge-primary {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}