#app {
  width: 100%;
}

h1.display-4 {
  font-size: 2rem;
}

@media (min-width: 576px) {
  h1.display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  h1.display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  h1.display-4 {
    font-size: 3rem;
  }
}

.container {
  max-width: 940px;
}

.container-fluid-about {
  width: 100%;
  background-color: #ffeae7;
}

.container-fluid-contact {
  width: 100%;
  background-color: #f1cbc6;
}

.container-fluid-bar {
  width: 100%;
  background-color: #000000;
}

.navbar {
  background: #FFFFFF;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
  color: #007bff;
  font-family: Overpass Mono;
}

.nav-link:hover {
  color: #ff9789;
}

.jumbotron {
  background: #FFFFFF;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
}

.hr {
  border: 1px solid #000000;
  margin-top: 5rem;
  margin-bottom: 0;
}

.row {
  padding-top: 20px;
  padding-bottom: 40px;
}

.row-about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row-badge {
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-footer-bottom {
  padding-bottom: 20px;
}

.badge-pill {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 0.65em;
}

.badge-primary {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #bebebe;
}

.btn-primary {
  border: none;
  padding-left: 0px;
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.btn-primary:hover {
  color: #ff9789;
}

.btn-primary:focus {
  color: #ff9789;
}

a:hover {
  color: #000000;
}

a:focus {
  color: #000000;
}

.img-margin {
  margin-bottom: 20px;
}

.text-tight {
  margin-bottom: 0px;
  margin-right: 8px;
}

.profile-photo {
  width: 10em;
  height: 10em;
}

.fab {
  margin-right: 8px;
}