#app {
  width: 100%;
}

h1.display-4 {
  font-size: 2rem;
}

@media (min-width: 576px) {
  h1.display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  h1.display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  h1.display-4 {
    font-size: 3rem;
  }
}

.container {
  max-width: 940px;
}

.container-casepic {
  max-width: 990px;
}

.container-fluid-case {
  width: 100%;
  background-color: #ffeae7;
  padding-top: 40px;
  padding-bottom: 20px;
}

.container-fluid-contact {
  width: 100%;
  background-color: #ffeae7;
}

.container-fluid-bar {
  width: 100%;
  background-color: #000000;
}

.center {
  margin: auto;
  width: 50%;
}

.navbar {
  background: #FFFFFF;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
  color: #007bff;
  font-family: Overpass Mono;
  text-align: right;
}

.navbar-light .navbar-toggler {
  color: #007bff;
  border: 0px;
}

.navbar-toggler:hover{
  color: #000000;
}

.jumbotron {
  background: #FFFFFF;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 45px;
  padding-left: 0px;
  padding-right: 0px;
}

.hr-landing {
  border: 1px solid #000000;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hr-resume {
  border: 1px solid #000000;
  margin-top: 4em;
  margin-bottom: .25em;
}

.hr-case {
  border: .5px solid #000000;
  margin-top: 0em;
  margin-bottom: 0em;
}

.hr-case-bot {
  border: .5px solid #000000;
  margin-top: .25em;
  margin-bottom: 1.5em;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row-case {
  margin-bottom: 10px;
}

.row-resume {
  padding-top: 10px;
}

.row-resumepic {
  padding-top: 60px;
}

.row-badge {
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-footer-bottom {
  padding-bottom: 10px;
}

.badge-pill {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 0.65em;
}

.badge-primary {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #bebebe;
}

.btn {
  border: none;
  padding-left: 0px;
  background-color: #FFFFFF;
  color: #007bff;
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.btn:hover  {
  color: #df9389;
  text-decoration: underline;
  background-color: #FFFFFF;
}

.btn:focus {
  color: #df9389;
}


a:hover {
  color: #000000;
}

a:focus {
  color: #000000;
}

.p-bottom {
  margin-bottom:20px;
}

.img-margin {
  margin-bottom: 20px;
}

.text-tight {
  margin-bottom: 0px;
  margin-right: 8px;
}

.profile-photo {
  width: 7.5em;
  height: 7.5em;
}

.fab {
  margin-right: 8px;
}